.hero-container {
    background-image: -webkit-linear-gradient();
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    transition: 0.5s;
}

.dark .hero-container {
    background-color: black;
}

.hero-container > h1 {
    color: white;
    font-size: 50px;
    margin-top: 30vh;
    transition: 0.5s;
}

.location{
    background-color: black;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    transition: 0.5s;
}

.location > h1 {
    color: white;
    font-size: 50px;
    margin-top: 30vh;
    transition: 0.5s;
}