.hero-container {
    background-color: white;
    color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    transition: 0.5s;
}

.dark .hero-container {
    background-color: black;
    color: white;
}

.hero-container > h1 {
    font-size: 50px;
    margin-top: 30vh;
    transition: 0.5s;
}

.location{
    background-color: rgb(223, 216, 216);
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    transition: 0.5s;
    color: black;
}

.dark .location {
    background-color: rgb(39, 39, 39);
    color: white;
}

.location > h1 {
    font-size: 50px;
    margin-top: 30vh;
    transition: 0.5s;
}