.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
    transition: 0.5s;
}

.dark .contact {
    background: darkblue;
}

form {
    max-width: 600px;
    width: 100%;
    background: white;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    color: black;
    margin: 25px;
    transition: 0.5s;
}

.dark form {
    background: black;
    box-shadow: 0 0 10px white;
    color: white;
}

form h2 {
    font-size: 30px;
    text-align: center;
}

form .input-box {
    margin-top: 20px;
}

.input-box .field {
    color: black;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    margin-top: 8px;
    transition: 0.5s;
}

.dark .input-box .field {
    color: white;
    border: 1px solid white;
}

.input-box .field.message {
    color: black;
    height: 200px;
    resize: none;
}

.dark .input-box .field.message {
    color: white;
}

form button {
    max-width: 600px;
    width: 100%;
    height: 55px;
    background: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-top: 25px;
}

.dark form button {
    background: white;
    color: black;
}