*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: white;
  color: black;
  transition: 0.5s;
}

.container.dark {
  background: rgb(27, 27, 27);
  color: white;
}